/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 60px;
  --sidebar-width: 250px;
}

@layer base {
  * {
    @apply text-body-md;
  }

  html,
  body {
    @apply h-full;
  }

  h1 {
    @apply text-head-xl text-black;
  }

  h2 {
    @apply text-head-lg text-black;
  }

  h3 {
    @apply text-head-md text-black;
  }
}

.body {
  &_large {
    @apply text-lg;
  }

  &_medium {
    @apply text-md;
  }

  &_small {
    @apply text-sm;
  }
}

@layer components {
  .page-height {
    height: calc(100% - var(--header-height));
  }

  .sidebar {
    width: var(--sidebar-width);
    @apply relative left-0 isolate grid border-r-2 border-r-lines-light bg-white text-grey-medium;
  }

  .sidebar-dark {
    @apply dark:bg-grey-dark;
  }

  .logo-box {
    width: var(--sidebar-width);
    @apply flex h-full items-center justify-start border-r-2 border-r-lines-light;
  }

  .header {
    height: var(--header-height);
    @apply flex items-center bg-white;
  }

  .header-dark {
    @apply dark:bg-grey-dark;
  }

  .btn {
    @apply rounded-full bg-purple px-8 py-2 text-head-md font-semibold text-white;
  }

  .btn-disabled {
    @apply disabled:opacity-80;
  }

  .btn-hover {
    @apply hover:bg-purple-light;
  }

  .btn-secondary {
    @apply bg-purple-medium text-purple;
  }

  .btn-secondary-hover {
    @apply hover:bg-grey-medium hover:text-purple;
  }

  .btn-destructive {
    @apply bg-red text-white;
  }

  .btn-destructive-hover {
    @apply hover:bg-red-light hover:text-white;
  }
}
