/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 60px;
  --sidebar-width: 300px;
}

@layer base {
  * {
    @apply text-body-md;
  }

  html,
  body {
    @apply h-full;
  }

  h1 {
    @apply text-head-xl text-black;
  }

  h2 {
    @apply text-head-lg text-black;
  }

  h3 {
    @apply text-head-md text-black;
  }
}

.body {
  &_large {
    @apply text-lg;
  }

  &_medium {
    @apply text-md;
  }

  &_small {
    @apply text-sm;
  }
}

@layer components {
  .page-height {
    height: calc(100% - var(--header-height));
  }

  .sidebar {
    width: var(--sidebar-width);
    transition: width, padding;
    @apply flex flex-col border-r-[1px] border-r-lines-light bg-white
    p-8 text-grey-medium duration-1000;
  }

  .sidebar:has(button[show-sidebar="false"]) {
    @apply w-0 px-0;
  }

  .sidebar-dark {
    @apply dark:border-r-lines-dark dark:bg-grey-dark;
  }

  .logo-box {
    width: var(--sidebar-width);
    @apply flex h-full items-center justify-start border-r-[1px] border-r-lines-light dark:border-r-lines-dark;
  }

  .header {
    height: var(--header-height);
    @apply flex items-center bg-white;
  }

  .header-dark {
    @apply dark:bg-grey-dark;
  }

  .btn {
    @apply w-fit rounded-full bg-purple px-8 py-2 text-head-md font-semibold text-white;
  }

  .btn-disabled {
    @apply disabled:opacity-80;
  }

  .btn-hover {
    @apply hover:bg-purple-light;
  }

  .btn-secondary {
    @apply bg-purple-medium text-purple;
  }

  .btn-secondary-hover {
    @apply hover:bg-grey-medium hover:text-purple;
  }

  .btn-destructive {
    @apply bg-red text-white;
  }

  .btn-destructive-hover {
    @apply hover:bg-red-light hover:text-white;
  }

  .toggle {
    @apply relative h-[1.4rem] w-[3rem] rounded-full;
  }

  .toggle-ball {
    --toggle-ball: 3px;

    @apply after:absolute after:left-[var(--toggle-ball)] after:top-[50%] after:aspect-square after:h-[75%] after:-translate-y-1/2 after:rounded-full 
      after:border after:border-gray-300 after:bg-white after:transition-[left] after:content-['']
      peer-checked:after:left-[calc(100%_-_var(--toggle-ball))] peer-checked:after:-translate-x-full peer-checked:after:border-white 
      peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300;
  }

  .toggle-dark {
    @apply dark:border-gray-600 dark:peer-focus:ring-blue-800;
  }
}

@layer utilities {
  .column-gradiant {
    @apply bg-gradient-to-r from-grey-slight to-grey-slight/[.5];

    &:hover {
      @apply bg-gradient-to-r from-grey-medium/[.125] to-grey-medium/[.1];
    }
  }

  .column-gradiant-dark {
    @apply bg-gradient-to-r from-grey-dark/[.25] to-grey-dark/[.125];

    &:hover {
      @apply bg-gradient-to-r from-grey-sdark/[.25] to-grey-sdark/[.125];
    }
  }

  .scrollbar {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      @apply h-[9px] w-[9px];
    }

    &::-webkit-scrollbar-track {
      @apply rounded-lg bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-lg border border-solid border-grey-medium bg-grey-slight dark:bg-grey-vdark;
    }
  }
}
